{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.redirection.io/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "redirectionio"
        },
        "description": "API documentation for redirection.io",
        "title": "redirection.io",
        "version": "1.1.0",
        "x-apisguru-categories": [
            "hosting"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_redirectionio_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.redirection.io/docs.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "redirection.io"
    },
    "security": [
        {
            "apiKey": []
        }
    ],
    "paths": {
        "/agent-flush-aggregate-requests": {
            "post": {
                "operationId": "postAgentFlushAggregateRequestCollection",
                "responses": {
                    "201": {
                        "description": "AgentFlushAggregateRequest resource created",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {},
                                        "logs": {}
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {},
                                        "logs": {}
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {},
                                        "logs": {}
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {},
                                        "logs": {}
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Creates a AgentFlushAggregateRequest resource.",
                "tags": [
                    "AgentFlushAggregateRequest"
                ],
                "requestBody": {
                    "content": {
                        "application/ld+json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {},
                                    "logs": {}
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {},
                                    "logs": {}
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "text/html": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {},
                                    "logs": {}
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {},
                                    "logs": {}
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The new AgentFlushAggregateRequest resource"
                }
            }
        },
        "/agent-flush-requests": {
            "post": {
                "responses": {
                    "201": {
                        "description": "AgentFlushRequest resource created",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {
                                            "type": "integer"
                                        },
                                        "logs": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {
                                            "type": "integer"
                                        },
                                        "logs": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {
                                            "type": "integer"
                                        },
                                        "logs": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "instanceName": {},
                                        "instanceTime": {
                                            "type": "integer"
                                        },
                                        "logs": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "logs",
                                        "instanceName",
                                        "instanceTime"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Creates a AgentFlushRequest resource.",
                "tags": [
                    "AgentFlushRequest"
                ],
                "requestBody": {
                    "content": {
                        "application/ld+json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {
                                        "type": "integer"
                                    },
                                    "logs": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {
                                        "type": "integer"
                                    },
                                    "logs": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "text/html": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {
                                        "type": "integer"
                                    },
                                    "logs": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "instanceName": {},
                                    "instanceTime": {
                                        "type": "integer"
                                    },
                                    "logs": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "logs",
                                    "instanceName",
                                    "instanceTime"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The new AgentFlushRequest resource"
                }
            }
        },
        "/agent-instance-updates": {
            "post": {
                "operationId": "postInstanceCollection",
                "responses": {
                    "201": {
                        "description": "Instance resource created",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Creates a Instance resource.",
                "tags": [
                    "Instance"
                ],
                "requestBody": {
                    "content": {
                        "application/ld+json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "text/html": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The new Instance resource"
                }
            }
        },
        "/agent-instance-updates/{id}": {
            "put": {
                "operationId": "putInstanceItem",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance resource updated",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "agentDuration": {
                                            "type": "integer"
                                        },
                                        "agentVersion": {
                                            "type": "string"
                                        },
                                        "agentVersionStatus": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "config": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "gone": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "lastCompletedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lastStartedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "logging": {
                                            "type": "boolean"
                                        },
                                        "logsLastFlushedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "misconfigured": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "rulesCount": {
                                            "type": "integer"
                                        },
                                        "rulesHash": {
                                            "type": "string"
                                        },
                                        "stale": {
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "updatedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Replaces the Instance resource.",
                "tags": [
                    "Instance"
                ],
                "requestBody": {
                    "content": {
                        "application/ld+json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "text/html": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "agentVersion": {
                                        "type": "string"
                                    },
                                    "config": {
                                        "type": "string"
                                    },
                                    "misconfigured": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The updated Instance resource"
                }
            }
        },
        "/agent-rule-complexes": {
            "get": {
                "operationId": "agent-legacy-complexRuleCollection",
                "parameters": [
                    {
                        "in": "query",
                        "name": "projectId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rule collection response",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "items": {
                                        "description": "",
                                        "properties": {
                                            "actions": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "changes": {
                                                "items": {
                                                    "description": "",
                                                    "properties": {
                                                        "action": {
                                                            "type": "string"
                                                        },
                                                        "actions": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "author": {
                                                            "readOnly": true,
                                                            "description": "",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "createdAt": {
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "examples": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "formattedSource": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "isEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "markers": {
                                                            "items": {
                                                                "description": "",
                                                                "properties": {
                                                                    "maximumOccurrence": {
                                                                        "type": "integer"
                                                                    },
                                                                    "minimumOccurrence": {
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "options": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "transformers": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type",
                                                                    "name"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "matchOnResponseStatus": {
                                                            "type": "integer"
                                                        },
                                                        "rank": {
                                                            "type": "integer"
                                                        },
                                                        "ruleId": {
                                                            "type": "string"
                                                        },
                                                        "source": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "action",
                                                        "source",
                                                        "isEnabled",
                                                        "rank"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "currentChange": {
                                                "description": "",
                                                "properties": {
                                                    "action": {
                                                        "type": "string"
                                                    },
                                                    "actions": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "author": {
                                                        "readOnly": true,
                                                        "description": "",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "createdAt": {
                                                        "format": "date-time",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "examples": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "formattedSource": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "isEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "markers": {
                                                        "items": {
                                                            "description": "",
                                                            "properties": {
                                                                "maximumOccurrence": {
                                                                    "type": "integer"
                                                                },
                                                                "minimumOccurrence": {
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "options": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "transformers": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type",
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "matchOnResponseStatus": {
                                                        "type": "integer"
                                                    },
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "ruleId": {
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "action",
                                                    "source",
                                                    "isEnabled",
                                                    "rank"
                                                ],
                                                "type": "object"
                                            },
                                            "examples": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "formattedSource": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isEnabled": {
                                                "type": "boolean"
                                            },
                                            "markers": {
                                                "items": {
                                                    "description": "",
                                                    "properties": {
                                                        "maximumOccurrence": {
                                                            "type": "integer"
                                                        },
                                                        "minimumOccurrence": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "options": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "transformers": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "matchOnResponseStatus": {
                                                "type": "integer"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "source": {
                                                "type": "string"
                                            },
                                            "updatedAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "viewCount": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "",
                                        "properties": {
                                            "actions": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "changes": {
                                                "items": {
                                                    "description": "",
                                                    "properties": {
                                                        "action": {
                                                            "type": "string"
                                                        },
                                                        "actions": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "author": {
                                                            "readOnly": true,
                                                            "description": "",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "createdAt": {
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "examples": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "formattedSource": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "isEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "markers": {
                                                            "items": {
                                                                "description": "",
                                                                "properties": {
                                                                    "maximumOccurrence": {
                                                                        "type": "integer"
                                                                    },
                                                                    "minimumOccurrence": {
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "options": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "transformers": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type",
                                                                    "name"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "matchOnResponseStatus": {
                                                            "type": "integer"
                                                        },
                                                        "rank": {
                                                            "type": "integer"
                                                        },
                                                        "ruleId": {
                                                            "type": "string"
                                                        },
                                                        "source": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "action",
                                                        "source",
                                                        "isEnabled",
                                                        "rank"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "currentChange": {
                                                "description": "",
                                                "properties": {
                                                    "action": {
                                                        "type": "string"
                                                    },
                                                    "actions": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "author": {
                                                        "readOnly": true,
                                                        "description": "",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "createdAt": {
                                                        "format": "date-time",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "examples": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "formattedSource": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "isEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "markers": {
                                                        "items": {
                                                            "description": "",
                                                            "properties": {
                                                                "maximumOccurrence": {
                                                                    "type": "integer"
                                                                },
                                                                "minimumOccurrence": {
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "options": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "transformers": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type",
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "matchOnResponseStatus": {
                                                        "type": "integer"
                                                    },
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "ruleId": {
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "action",
                                                    "source",
                                                    "isEnabled",
                                                    "rank"
                                                ],
                                                "type": "object"
                                            },
                                            "examples": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "formattedSource": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isEnabled": {
                                                "type": "boolean"
                                            },
                                            "markers": {
                                                "items": {
                                                    "description": "",
                                                    "properties": {
                                                        "maximumOccurrence": {
                                                            "type": "integer"
                                                        },
                                                        "minimumOccurrence": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "options": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "transformers": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                },
[...]
